.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 1rem;
  mat-form-field {
    margin-top: 1rem;
  }
}
::ng-deep {
  .mat-form-field-infix {
    background-color: white;
  }
  .mat-form-field-label-wrapper {
    font-size: 1rem !important;
    margin-top: 0.4rem !important;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: black !important;
    opacity: 1;
  }
  .mat-form-field-infix {
    border-color: white !important;
    border-top: none;
    padding: 0.8rem !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-2rem);
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
  }
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}
.game {
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #202020;
  box-shadow: 4px 3px 5px 0px rgb(200, 150, 44);
  transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 4px 3px 8px 6px rgb(200, 152, 44);
    transform: translateY(-2px);
  }
  &-thumb-container {
    background-color: black;
    position: relative;
    height: 172px;
    color: #fff;
    text-align: center;
  }
  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 172px;
  }
  &-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 157px;
  }
  &-name {
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &-platforms {
    display: flex;
  }
  &-platform {
    width: 20px;
    margin-right: 10px;
  }
}
